<!DOCTYPE HTML>
{% load staticfiles %}
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
<meta charset="UTF-8">
<meta content="提供图书、电影、音乐唱片的推荐、评论和价格比较，以及城市独特的文化生活。" name="description">
<meta property="wb:webmaster" content="4333122820fff864" />
<meta property="qc:admins" content="27514711322166375" />
<title>豆瓣</title>

<link rel="stylesheet" href="{% static 'douban.css' %}">
</head>

<body>


  <div id="anony-nav">
    <div class="anony-nav-links">
       <ul>
            <li width="80px"> <a target="_blank" class="lnk-book" href="www.douban.com"><img src="image/QQ图片20141107202710.jpg"></a></li>
            <li> <a target="_blank" class="lnk-fm" href="http://douban.fm"><img src="image/QQ图片20141107202705.jpg"></a></li>
           <li> <a target="_blank" class="lnk-events" href="http://www.douban.com/location/"><img src="image/QQ图片20141107202701.jpg"></a></li>
           <li> <a target="_blank" class="lnk-group" href="http://www.douban.com/group/"><img src="image/QQ图片20141107202655.jpg"></a></li>
           <li> <a target="_blank" class="lnk-music" href="http://music.douban.com"><img src="image/QQ图片20141107203334.jpg"></a></li>
           <li> <a target="_blank" class="lnk-movie" href="http://movie.douban.com"><img src="image/QQ图片20141107202648.jpg"></a></li>
            <li> <a target="_blank" class="lnk-book" href="http://book.douban.com"><img src="image/QQ图片20141106202934.jpg"></a></li>
    
      </ul>
    </div>

    <div class="anony-nav-douban"><a href="http://www.douban.com"><img src="image/QQ图片20141107205114.jpg"></a></div>

    <div class="anony-srh">
      <form action="http://www.douban.com/search" method="get">
         <span class="inp"><input type="text" maxlength="60" size="35" placeholder="书籍、电影、音乐、小组、小站、成员" name="q" autocomplete="off"></span>
         <span class="bn"><input type="submit" value="搜索"></span>
      </form>
    </div>
  </div>

<div id="anony-reg">
    <div class="wrapper">
<div class="login">
    <form id="lzform" name="lxgotm" method="post"action="http://www.douban.com/accounts/login" border="0">
       
            <div class="item item-account">
                <input type="text" name="form-email" id="form-email" value=""placeholder="邮箱/手机号"tabindex="1"class="inp">
                <div class="opt"><label for="form_remember"><input type="checkbox" id="form_remember"name="remrember" tabindex="4">记住我</label></div>
            </div>
            <div class="item item-passed">
                <input name="form-password" placeholder="密码" id="form-password"class="inp" type="password"tabindex="2">
                <div class="opt"><a href="http://www.douban.com/accounts/resetpassword">忘记密码</a></div>
            </div>
       
    </form>
    <div style="display:none">
        <img src="https://www.douban.com/pics/blank.gif"onload="(function(url){document.getElementById('lzform').action=url;})('https://www.douban.com/accounts/login')"/>
    </div>
</div>
    <div class="reg">
        <a href="/accounts/register" class="lnk-reg">加入我们 注册</a>
        <div class="nb-info">发现更多生活
        </div>
    </div>
    </div>
</div>
<div id="dale-anonymous_homepge_top_for_crazy_ad"><a href="http://n5.chanel.com/zh_CN/?WT.mc_id=FB_N5_2014_zh_CN_Douban_DoubanHomepage_Banner&WT.mc_t=display&hmsr=Douban_DoubanHomepage_Banner#makingof"><img src="image/shuangshiyi.jpg"></a></div>

<div id="anony-sns" class="section">
  <div class="wrapper">
    <div id="dale_anonymous_homepage_top_for_crazy_ad"></div>
<div class="mod">
  <div id="dale_anonymous_homepage_top_for_crazy_ad"></div>

  <h2>热点内容. . . .</h2>
  <div class="albums">
  <ul>
    <li>
      <div class="pic">
       <a href="http://www.douban.com/photos/album/11916538/"><img src="image/p140672347.jpg" ></a>
       </div>
       <a href="http://www.douban.com/photos/album/11916538/">好想画画</a>
       <span class="num">142张照片</span>
    </li>
    <li>
      <div class="pic">
        <a href="http://www.douban.com/photos/album/145805267/"><img src="image/p2208508842.jpg">
        </a>
      </div>
      <a href="http://www.douban.com/photos/album/145805267/">『不在独自旅行』</a>
      <span class="num">37张照片</span>
    </li>
    <li>
      <div class="pic">
        <a href="http://www.douban.com/photos/album/43491681/"><img src="image/p864747230.jpg"></a>
      </div>
      <a href="http://www.douban.com/photos/album/43491681/">手工装订全过程</a>
      <span class="num">110张照片</span>
    </li>
    <li>
      <div class="pic">
        <a href="http://www.douban.com/photos/album/92472300/"><img src="image/p2208610264.jpg"></a>
      </div>
      <a href="http://www.douban.com/photos/album/92472300/">『版画』入江明日香</a>
      <span num="num">72张照片</span>
    </li>
  </ul>
  </div>
</div>
<div class="notes">
  <ul>
    <li class="first">
      <div class="title"><a href="http://www.douban.com/note/156885733/">法國書，雜誌的免費下載（閱讀）站們</a></div>
      <div class="author">red.的日記</div>
      <p> 轉載請註明，十分感謝。 終於決定寫一個大愛分享帖。 0，此貼作為第一貼，爭取...</p>
    </li>
    <li><a href="http://www.douban.com/note/438382535/">得書記——鯨落之日</a></li>
    <li><a href="http://www.douban.com/note/444673219/">交际花普齐</a></li>
    <li><a href="http://www.douban.com/note/445119502/">爱情不能如诗不能如是</a></li>
    <li><a href="http://www.douban.com/note/446527224/">一线城市青年理财规划参考</a></li>
    <li><a href="http://www.douban.com/note/438957448/">啦啦啦~~辣白菜</a></li>
    <li><a href="http://www.douban.com/note/410785341/">分享 一些设计师需要的素材网站</a></li>
    <li><a href="http://www.douban.com/note/385612414/">【十一月更新】【三页计划簿】持续更新新年倒计时版和考研倒计时版</a></li>
    <li><a href="http://www.douban.com/note/445877738/">减下100斤重的同事，允许我转载他的减肥贴~1</a></li>
    <li><a href="http://www.douban.com/note/436613063/">内心强大爱自己，世界才会来爱你</a></li>
</div>
<div class="side">
  <div style="margin:10px 0px;">
    <a href="http://dongxi.douban.com/1111/?dcm=anonymous-home-sns&dcs=douban" target="_blank"><img width="265" src="image/shuangshiyimiaosha.jpg"></a>
  </div>
  <h2>线上活动. . . .<span class="pl">&nbsp;(
                
                    <a href="http://www.douban.com/online/?r=i" target="_self">更多</a> </span>
  </h2>
  <div class="online">
    <ul>
      <li>
        <div class="title"><a href="http://www.douban.com/online/11969642/">晒出明星脸，你来上首页！</a></div>
        <div class="desc">
          
                时间：10月29日 - 1月12日
          <br>
          <span class="num">1212人参加</span>
        </div>
      </li>
      <li>
        <div class="title"><a href="http://www.douban.com/online/11977998/">創作由七個中文字組成的微小說</a></div>
        <div class="desc">
          
                时间：11月3日 - 2月2日
          <br>
          <span class="num">1251人参加</span>
        </div>
      </li>
      <li>
        <div class="title"><a href="http://www.douban.com/online/11924083/">晒晒旅行照。（有奖活动）</a></div>
        <div class="desc">
          
                时间：10月11日 - 1月8日
          <br>
          <span class="num">1656人参加</span>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
<div id="anony-dongxi" class="section">
  <div class="wrapper">
    <div class="sidenav">
      <h2 class="section-title">
        <a href="http://dongxi.douban.com/?dcs=anonymous-home-sidenav&dcm=douban">东西</a>
      </h2>
      <ul>
        <li class="story-category">
          <a href="http://dongxi.douban.com/shows/%E7%94%B7%E5%A3%AB/?dcs=anonymous-home-sidenav&dcm=douban">男士</a>
        </li>
        <li class="story-category">
          <a href="http://dongxi.douban.com/shows/%E5%A5%B3%E5%A3%AB/?dcs=anonymous-home-sidenav&dcm=douban">女士</a>
        </li>
        <li class="story-category">
          <a href="http://dongxi.douban.com/shows/%E5%B1%85%E5%AE%B6/?dcs=anonymous-home-sidenav&dcm=douban">居家</a>
        </li>
        <li class="story-category">
          <a href="http://dongxi.douban.com/shows/%E6%95%B0%E7%A0%81/?dcs=anonymous-home-sidenav&dcm=douban">数码</a>
        </li>
        <li class="story-category">
          <a href="http://dongxi.douban.com/shows/%E6%88%B7%E5%A4%96/?dcs=anonymous-home-sidenav&dcm=douban">户外</a>
        </li>
        <li class="story-category">
          <a href="http://dongxi.douban.com/shows/%E7%BE%8E%E5%A6%86/?dcs=anonymous-home-sidenav&dcm=douban">美妆</a>
        </li>
        <li class="story-category">
          <a href="http://dongxi.douban.com/shows/%E9%A3%9F%E5%93%81/?dcs=anonymous-home-sidenav&dcm=douban">食品</a>
        </li>
        <li class="story-category">
          <a href="http://dongxi.douban.com/haitao/?dcs=anonymous-home-sidenav&dcm=douban">海淘</a>
        </li>
      </ul>
      <div class="weibo">
        <a href="http://e.weibo.com/doubandongxi"class="pic"target="_blank">
          <img src="image/weibo_dongxi.png">
        </a>
        <a href="http://e.weibo.com/doubandongxi"target="_blank">关注我们</a>
      </div>
    </div>
    <div class="side">
      <div class="mod">
        <a href="http://dongxi.douban.com/1111/?dcm=anonymous-home-dongxi&dcs=douban" target="_blank">
          <img src="image/file-1415613631.jpg"width="280"height="100">
        </a>
      </div>
      <div class="mod">
        <h2>
        "热门图文
            ······
            "
            <span class="pl">
              "&nbsp;(
                
                    <a href="http://dongxi.douban.com/articles?dcs=anonymous-home-more-articles&dcm=douban" target="_self">更多</a>
            </span></h2>
      </div>
      <div class="review-list">
        <ul>
          <li class="first">
            <div class="title">
              <a href="http://dongxi.douban.com/article/1471263/?dcm=douban&dcs=anonymous-home-title" title="这些跳过的坑，今年双11我不要再跳！！">这些跳过的坑，今年双11我不要再跳！！（...</a>
            </div>
            <div class="content">
              <div class="pic">
                <a href="http://dongxi.douban.com/article/1471263/?dcm=douban&dcs=anonymous-home-pic"><img src="p200260288.jpg"></a>
              </div>
              <div class="desc">半个月匆匆过，一转眼来到了11月的前奏！ 双11居然还有不到两周的时间了！好紧脏好紧...</div>
            </div>
          </li>
           <li class="">
          <div class="title">
            <a href="http://dongxi.douban.com/article/1459361/?dcm=douban&amp;dcs=anonymous-home-title" title="千手观音教再战双11，剁手秘籍(╯‵□′)╯︵┻━┻">
              千手观音教再战双11，剁手秘籍(╯‵□′)...
            </a>
          </div>
          <div class="content">
            <div class="pic">
              <a href="http://dongxi.douban.com/article/1459361/?dcm=douban&amp;dcs=anonymous-home-pic">
                <img src="http://img3.douban.com/view/commodity_review/small/public/p200242182.jpg" width="94" alt="千手观音教再战双11，剁手秘籍(╯‵□′)╯︵┻━┻">
              </a>
            </div>
            <div class="desc"> 一年一度的双11又来了。。光棍节俨然被全民购物狂欢所掩盖，买买买~！！！ 双11东西专...</div>
          </div>
        </li>
        
        <li class="">
          <div class="title">
            <a href="http://dongxi.douban.com/article/1463691/?dcm=douban&amp;dcs=anonymous-home-title" title="秋冬需要囤货的那些白菜护肤品！！！">
              秋冬需要囤货的那些白菜护肤品！！！
            </a>
          </div>
          <div class="content">
            <div class="pic">
              <a href="http://dongxi.douban.com/article/1463691/?dcm=douban&amp;dcs=anonymous-home-pic">
                <img src="http://img3.douban.com/view/commodity_review/small/public/p200243975.jpg" width="94" alt="秋冬需要囤货的那些白菜护肤品！！！">
              </a>
            </div>
            <div class="desc">LZ本人是穷逼一枚。。。SK2、雅诗兰黛之流的肯定买不起，但是咧，不能因为穷就不爱护皮...</div>
          </div>
        </li>
        
        <li class="">
          <div class="title">
            <a href="http://dongxi.douban.com/article/1447434/?dcm=douban&amp;dcs=anonymous-home-title" title="各大热卖无硅洗护亲身试用报告（二）进阶篇">
              各大热卖无硅洗护亲身试用报告（二）进阶篇
            </a>
          </div>
          <div class="content">
            <div class="pic">
              <a href="http://dongxi.douban.com/article/1447434/?dcm=douban&amp;dcs=anonymous-home-pic">
                <img src="http://img3.douban.com/view/commodity_review/large/public/p200210848.jpg" width="94" alt="各大热卖无硅洗护亲身试用报告（二）进阶篇">
              </a>
            </div>
            <div class="desc">开始前的言： 各位神样的豆哥豆姐们~，Lulu只是个小逗比啦。 试用是要时间体验嘀~，用个...</div>
          </div>
        </li>
        </ul>
      </div>
    </div>
    <div class="main">
      <h2>
        
        热门东西
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
          <span class="pl"><a href="http://dongxi.douban.com/?dcs=anonymous-home-more-shows&dcm=douban" target="_self">更多</a></span>
      </h2>
      <div class="list story-list first">
        <div class="main-story">
          <div class="pic">
            <a href="http://dongxi.douban.com/show/2771681/?dcm=douban&dcs=anonymous-home-pic"><img src="image/p11950472.jpg"width="245"height="245"></a>
          </div>
          <div class="footer">
            <div class="story-headline">
              <a href="http://dongxi.douban.com/show/2771681/?dcm=douban&dcs=anonymous-home-title">
                <span class="story-title">
              【MUJI旗舰店】...
                </span>
                <span class="story-price">
                  ￥72.00
                 </span>
              </a>
            </div>
            <div class="story-text">"真是突破极限的便宜了！"</div>
          </div>
        </div>
        <div class="other-stories">
          <ul>
            <li class="first">
              <div class="pic"><a href="http://dongxi.douban.com/show/2772600/?dcm=douban&dcs=anonymous-home-pic"><img src="image/p11952296.jpg"></a></div>
              <div class="footer"><a href="http://dongxi.douban.com/show/2772600/?dcm=douban&dcs=anonymous-home-title" class="title">MUJI微电脑...</a></div>
              
            </li>
            <li class="first">
              <div class="pic"><a href="http://dongxi.douban.com/show/2768378/?dcm=douban&dcs=anonymous-home-pic"><img src="image/p11943195.jpg"></a></div>
              <div class="footer"><a href="http://dongxi.douban.com/show/2768378/?dcm=douban&dcs=anonymous-home-title" class="title">蔓越莓饼干</a></div>
            </li>
            <li class="first">
              <div class="pic"><a href="http://dongxi.douban.com/show/2768378/?dcm=douban&dcs=anonymous-home-pic"><img src="image/p11839518.jpg"></a></div>
              <div class="footer"><a href="http://dongxi.douban.com/show/2768378/?dcm=douban&dcs=anonymous-home-title" class="title">牛掰沐浴露</a></div>
            </li>
            <li class="first">
              <div class="pic"><a href="http://dongxi.douban.com/show/2768378/?dcm=douban&dcs=anonymous-home-pic"><img src="image/p10036679.jpg"></a></div>
              <div class="footer"><a href="http://dongxi.douban.com/show/2768378/?dcm=douban&dcs=anonymous-home-title" class="title">小恶魔充电宝</a></div>
            </li>
          </ul>
        </div>
        <div class="list story-list2 ">
        <div class="main-story">
          <div class="pic">
            <a href="http://dongxi.douban.com/show/2771681/?dcm=douban&dcs=anonymous-home-pic"><img src="image/p8269056.jpg"width="245"height="245"></a>
          </div>
          <div class="footer">
            <div class="story-headline">
              <a href="http://dongxi.douban.com/show/2771681/?dcm=douban&dcs=anonymous-home-title">
                <span class="story-title">
                 Wall.E瓦力6cm限...
                </span>
                <span class="story-price">
                  ￥28.00
                 </span>
              </a>
            </div>
            <div class="story-text">"萌是萌，的但是其实不便宜，对于这么个小东西，..."</div>
          </div>
        </div>
        <div class="other-stories">
          <ul>
            <li class="first">
              <div class="pic"><a href="http://dongxi.douban.com/show/2772600/?dcm=douban&dcs=anonymous-home-pic"><img src="image/p11841048.jpg"></a></div>
              <div class="footer"><a href="http://dongxi.douban.com/show/2772600/?dcm=douban&dcs=anonymous-home-title" class="title">黄色马丁靴</a></div>
              
            </li>
            <li class="first">
              <div class="pic"><a href="http://dongxi.douban.com/show/2768378/?dcm=douban&dcs=anonymous-home-pic"><img src="image/p11838842.jpg"></a></div>
              <div class="footer"><a href="http://dongxi.douban.com/show/2768378/?dcm=douban&dcs=anonymous-home-title" class="title">静音空气加...</a></div>
            </li>
            <li class="first">
              <div class="pic"><a href="http://dongxi.douban.com/show/2768378/?dcm=douban&dcs=anonymous-home-pic"><img src="image/p11887880.jpg"></a></div>
              <div class="footer"><a href="http://dongxi.douban.com/show/2768378/?dcm=douban&dcs=anonymous-home-title" class="title">ASOS男毛衣</a></div>
            </li>
            <li class="first">
              <div class="pic"><a href="http://dongxi.douban.com/show/2768378/?dcm=douban&dcs=anonymous-home-pic"><img src="image/p11958500.jpg"></a></div>
              <div class="footer"><a href="http://dongxi.douban.com/show/2768378/?dcm=douban&dcs=anonymous-home-title" class="title">可乐味配制酒</a></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    

  </div>
</div>
</body>
